/* .active {
  color: blue;
} */
/* .cuisineOption{
  border: 2px solid black;
  padding: 10px;
  background-color: aqua;
} */

.cusineOptBtn {
  border: none;
  background-color: #376b7e;
  color: white;
  margin: 4px;
  padding: 10px;
  border-radius: 20px;
}

.cusineOptBtn:hover {
  background-color: #95d5ec;
}

.chatbot-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #dbdbdb;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #514f4f;
  padding: 12.5px;
  font-weight: bold;
}

.closeIcon {
  font-size: large !important ;
  color: black;
}

.custom-link {
  width: 200px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.custom-link a {
  text-decoration: none;
}

.signInBtn:hover {
  cursor: pointer;
  opacity: 0.6;
  scale: 1.1;
}

.resetcontainer {
  /* height: 100vh; */
}
.password-reset-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.password-reset-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.password-reset-form form {
  display: flex;
  flex-direction: column;
}

.password-reset-form form label {
  font-weight: bold;
}

.password-reset-form .btn {
  margin-top: 20px;
}

.password-reset-form .alert {
  margin-top: 20px;
}

form > div {
  margin-top: 10px;
}

